<div class="text-center">
    <h1 class="jumbotron">Welcome To Bright Ideas!</h1>
</div>

<div id="flexContainer">
    <partial name="RegisterPartial"/>
    <partial name="LoginPartial"/>
</div>
