@model User


<div>
    
    <h1>Register</h1>
    <form asp-controller="Home" asp-action="Register" method="POST">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Alias"></label>
            <input asp-for="Alias" class="form-control">
            <span asp-validation-for="Alias" class="alert-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="alert-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="alert-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
        </div>

        <input type="submit" class="btn btn-info" value="Register">
    </form>
</div>