<br>

<div class="col text-right" style="text-decoration: underline;">
<a href="/dashideas">Bright Ideas</a> <span> | </span> <a href="/logout">Log Out</a>
</div>
<br>

<br>
<br>

<div>
<h3>Name: @ViewBag.SingleUser.Name</h3>
<h3>Alias: @ViewBag.SingleUser.Alias</h3>
<h3>Email: @ViewBag.SingleUser.Email</h3>
</div>

<br>
<hr>
<br>

<h3>Total Number of Ideas: @ViewBag.SingleUser.CreatedIdeas.Count </h3>

<h3>Total Number of Likes: </h3>

